/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --main-font-family: "IBM Plex mono";
  --accent-color: #ff0070;
  --accent-color-decorated-zone: #ff0070;
  --accent-color-hover: rgba(255, 0, 112, 0.4);
  --main-color: #f1b2ce;
  --font-weight-normal: 400;
  --font-size-normal: 1.12rem;
  --font-weight-bold: 700;
  --heading-higlighted-color: #000028;
  --focus-signs-color: #db00ff;
  --focus-signs-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
 
}




