/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* Переменные светлой темы */
  --bg-color: #fff1f7;
  --main-font-family: "IBM Plex mono";
  --accent-color: #ff8dcb;
  --accent-color-decorated-zone: #353430;
  --accent-color-hover: rgba(53, 52, 48, 0.4);
  --main-color: #353430;
  --font-weight-normal: 400;
  --font-size-normal: 1.12rem;
  --font-weight-bold: 700;
  --heading-higlighted-color: #353430;
  --focus-signs-color: #ffc2e6;
  --focus-signs-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  background-image: url("../images/cover-image-light.png");
  .REC {
    visibility: hidden;
  }
}

@media (prefers-color-scheme: light) {
  .page.theme_light {
    /* Дублируем переменные светлой темы */
    --bg-color: #fff1f7;
    --main-font-family: "IBM Plex mono";
    --accent-color: #ff8dcb;
    --accent-color-decorated-zone: #353430;
    --main-color: #353430;
    --font-weight-normal: 400;
    --font-size-normal: 1.12rem;
    --font-weight-bold: 700;
    --heading-higlighted-color: #353430;
    --focus-signs-color: #ffc2e6;
    --focus-signs-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --focus-sign-font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
    background-image: url("../images/cover-image-light.png");

    .REC {
      visibility: hidden;
    }
  }
}
/* Остальные стили */
